<ion-pane on-swipe-right="onSwipeRight()">

	<ion-header-bar class="panel-header-1 marginTop40">
		<div>
			<img src="img/logo_header.png"/>
		</div>
	</ion-header-bar>

	<ion-content>
		<div class="title-bar">
			<div class="back">Back</div>
			My Walking history
		</div>

		<div class="panel-single-row paddingTop0">
			<label class="font11 yellow-color">This Month</label>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="created">Created</button>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="joined">Joined</button>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="ns">NS</button>
		</div>

		<!--Starting Next Month-->

		<div class="panel-single-row">
			<label class="font11 yellow-color">This Month</label>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="created">Created</button>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="created">Created</button>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="joined">Joined</button>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="created">Created</button>
		</div>

		<div class="panel-history-list">
			<label>Walk on <span>22, Wed</span></label>
			<h1>5.00 PM</h1>
			<button class="ns">NS</button>
		</div>

	</ion-content>

</ion-pane>