<ion-pane on-swipe-right="onSwipeRight()">

	<ion-header-bar class="panel-header-1 marginTop40">
		<div class="logo">
			<img src="img/logo_header.png"/>
		</div>

		<div class="title-bar">
			<div class="back">Back</div>
			Join a Walk
		</div>
	</ion-header-bar>

	<ion-content>
		<div class="panel-join-a-walk-list">
			<label class="title">Walk with Jerry</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>Sat 25, Jul 2015</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>5.00 PM</h1>
				</label>
			</div>
		</div>

		<div class="panel-join-a-walk-list">
			<label class="title">Walk with Natalie</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>Mon 27, Jul 2015</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>7.30 PM</h1>
				</label>
			</div>

			<div class="panel-single-row-full marginTop18">
				<label>People Walking with me</label>
			</div>

			<div class="image-list">
				<div><img src="img/img_people1.png"></div>
				<div><img src="img/img_people4.png"></div>
				<div><img src="img/img_people5.png"></div>
				<div><img src="img/img_people2.png"></div>
				<div><img src="img/img_people6.png"></div>
				<div>12+</div>
			</div>

			<div class="status">
				<button>Accept</button>
				<button>May be</button>
				<button>Decline</button>
			</div>

		</div>

		<div class="panel-join-a-walk-list">
			<label class="title">Walk with Susan</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>Wed 29, Jul 2015</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>5.00 AM</h1>
				</label>
			</div>
		</div>
		<div class="panel-join-a-walk-list">
			<label class="title">Walk with Jerome</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>Fri 31, Jul 2015</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>6.15 PM</h1>
				</label>
			</div>
		</div>
		<div class="panel-join-a-walk-list">
			<label class="title">Walk with Susan</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>Sun 2, aug 2015</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>7.00 AM</h1>
				</label>
			</div>
		</div>
		<div class="panel-join-a-walk-list">
			<label class="title">Walk with Jerome</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>Wed 5, Jul 2015</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>7.00 PM</h1>
				</label>
			</div>
		</div>


	</ion-content>

</ion-pane>
