<ion-pane>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title" style="text-center">Walk With Me</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
		  <!-- Duplicate this -->
		  <label class="item item-input">My Next Walk</label>
		  <label class="item item-input">Sat 25, Jul 205</label>
		  <label class="item item-input">5.00 PM</label>
		  <label class="item item-input">Walking with me</label>
		  
		  <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
  		  </div>
  		  <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
  		  </div>
			<button class="button icon-left ion-star button-positive" >Accept</button>
			<button class="button icon-left ion-star button-positive" >Maybe</button>
			<button class="button icon-left ion-star button-positive" >Decline</button>
		</div>
		
	</ion-content>
</ion-pane>