<ion-pane>
	<ion-header-bar class="panel-header-1">
		<div>
			<img src="img/logo_header.png"/>
		</div>
	</ion-header-bar>

	<ion-content>
		<h1>Login</h1>
		<div class="form-content">
			<label>
				<input type="text" placeholder="User Name" class="txtfield"/>
			</label>
			<label>
				<input type="text" placeholder="Password" class="txtfield">
			</label>
			<button class="button-big-yellow marginTop24" data-ng-click="Register()">Login</button>
		</div>
		<div class="panel_or">
			<div class="or_line">line</div>
			<h4 class="small-txt-light">or</h4>
			<div class="or_line">line</div>
		</div>
	</ion-content>

	<ion-footer-bar>
		<div class="panel-footer">
			<div class="form-content">
				<button class="button-big-blue" ng-click="register()">Register</button>
			</div>
		</div>
	</ion-footer-bar>
</ion-pane>