<ion-pane>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title" style="text-center">Walk With Me</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="User name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Password">
		  </label>

		  <button class="button button-block button-positive center">
  			Login
			</button>
			<h4>or</h4>
			<button class="button button-block button-positive center" ng-click="register()">
  				Register
			</button>
		</div>
		
	</ion-content>
</ion-pane>