
<div data-ng-controller = "MenuCtrl"
<ion-pane on-swipe-right="onSwipeRight()">
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title" style="text-center">Walk With Me</h1>
	</ion-header-bar>
	<ion-content>


		<div class="list list-inset" ng-show = "!data.nextWalk"> 

		
		  <!-- bind the next walk object -->
		  <label class="item item-input">My Next Walk</label>
		  <label class="item item-input">{{date}}</label>
		  <label class="item item-input">{{walkTime}}</label>
		  <label class="item item-input">
		  <div data-ng-repeat="participant in walkParticipants">
		  {{participant}} 
		  </div>
		  &nbsp;
		  walking with me.
		  </label>
		  <button class="button icon-left ion-star button-positive" ui-sref="walkNow">Walk Now!</button>
		  <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
  		  </div>
  		  <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
  		  </div>

		</div>
		<div class="list list-inset"  >
		  <h2>Walking Invitations</h2>

		  <div class="item item-avatar" data-ng-repeat="invites in inviteWalk" ng-show = "!data.invitations">
    		<img src="img/sampleAvatar.jpg">    		    		
    		<h2> with {{invites.Inviter}} <h2>
    		
    		<p>{{invites.DateInvite}}<br/> {{invites.Time}}</p>
    		<p>{{invites.Pariticipants.length}} of your friends are walking with him</p> <div ng-hide = "true"> {{invites.Pariticipants}}
  		  </div>
		</div>
		
  		   <a class="button icon-right ion-chevron-right" ui-sref="join" ng-show = "!data.invitations">Join</a>
  		   <button class="button icon-left ion-star button-positive" ui-sref="newWalk" ion-nav-animation="slide-in-up">Create new walk</button>
		</div>

		<div class="item" ng-show = "!data.walkHistory">History

		<label ng-repeat="history in historyWalk track by $index">
		
			{{history.Month}}

			<label data-ng-repeat="walkCount in range(history.countWalks) track by $index"> 
			<i class ="icon ion-ionic">
			</i>
			
		</label>
		
		<a ui-sref="history">More</a>
		</div>
		</label>
	</ion-content>
</ion-pane>
</div>