<ion-pane>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title" style="text-center">Walk With Me</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
		  <!-- bind the next walk object -->
		  <label class="item item-input">My Next Walk</label>
		  <label class="item item-input">Sat 25, Jul 205</label>
		  <label class="item item-input">5.00 PM</label>
		  <label class="item item-input">Walking with me</label>
		  <button class="button icon-left ion-star button-positive" ui-sref="walkNow">Walk Now!</button>
		  <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
  		  </div>
  		  <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
  		  </div>

		</div>
		<div class="list list-inset">
		  <h2>Walking Invitations</h2>

		  <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
    		<h2> with Jerry <h2>
    		<p>Wed 22, Jul 2015 <br/> 5.00 AM</p>
    		<p>5 of your friends are walking with him</p>
  		  </div>

		<div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">    		    		
    		<h2> with Jerry <h2>
    		<p>Wed 22, Jul 2015 <br/> 5.00 AM</p>
    		<p>5 of your friends are walking with him</p>
  		  </div>

  		   <a class="button icon-right ion-chevron-right" ui-sref="join">Join</a>
  		   <button class="button icon-left ion-star button-positive" ui-sref="newWalk">Create new walk</button>
		</div>

		<div class="item">
			History Jul
			<i class="icon ion-ionic"></i>
			<i class="icon ion-ionic"></i>
			<i class="icon ion-ionic"></i>
			<i class="icon ion-ionic"></i>
			Mar
			<i class="icon ion-ionic"></i>
			<i class="icon ion-ionic"></i>
			<i class="icon ion-ionic"></i>
			Apr
			<i class="icon ion-ionic"></i>
			<i class="icon ion-ionic"></i>						
			<a ui-sref="history">More</a>
		</div>
	</ion-content>
</ion-pane>