<ion-pane data-ng-controller="WalkCtrl">
	<ion-header-bar class="panel-header-1 marginTop40">
		<div class="logo">
			<img src="img/logo_header.png"/>
		</div>

		<div class="title-bar">
			<div class="back" ui-sref="menu">Back</div>
			Create New Walk
		</div>
	</ion-header-bar>

	<ion-content>
		<div class="panel-create-walk">
				<h1> {{date}} <span class="yellow-color">{{month}}</span> {{year}}</h1> 
		</div>

		<div class="panel-week-selector">
			<div>
				<div ng-click="setThisWeek()"><a>Prev</a></div>
				<div>{{calTitle}}</div>
				<div  ng-click="setNextWeek()"><a>Next</a></div>
			</div>
		</div>

		<div class="panel-week">
			<div>Su</div>
			<div>Mo</div>
			<div>Tu</div>
			<div>We</div>
			<div>Th</div>
			<div>Fr</div>
			<div>Sa</div>
		</div>

		<div id="dayPanel" class="panel-days">
			<div ng-click="selectDate('sun')"><span  ng-class='{"true":"selected"}[selectedDate=="sun"]'>{{sunday}}</span></div>
			<div id="mon" ng-click="selectDate()">{{mon}}</div>
			<div id="tue" ng-click="selectDate()">{{tue}}</div>
			<div id="wed" ng-click="selectDate()">{{wed}}</div>
			<div id="thur" ng-click="selectDate()" >{{thur}}</div>
			<div id="fri" ng-click="selectDate()">{{fri}}</div>
			<div id="sat" ng-click="selectDate()">{{sat}}</div>
		</div>

	</ion-content>

	<ion-footer-bar>

		<div class="panel-create-new-footer">
			<div class="panel-time">
				<div>
					<button ng-click="increaseHour()" class="btn-time">{{hour}}</button>
					<span class="dots">:</span>
					<button  ng-click="increaseMinutes()" class="btn-time">{{minutes}}</button>
					<button  ng-click="change()" class="btn-am">{{am}}</button>
				</div>
			</div>
			<div class="form-content">
				<button class="button-big-yellow" ng-click="onCreate()">Invite friends</button>
			</div>
		</div>
	</ion-footer-bar>

</ion-pane>



