<ion-pane>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title" style="text-center">Walk With Me</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<h2>Create new walk</h2>
		  <label class="item item-input">Calender</label>		  		  
		  <label class="item item-input">Time 5 : 22 AM</label>		  		  
		</div>		
		<!-- show if there is a error -->
		<div class="list list-inset">			
			<button class="button button-block button-positive center">
  				Invite friends
			</button>		  
		</div>		
	</ion-content>
</ion-pane>
