<ion-pane>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title" style="text-center">Walk With Me</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<h2>Mobile number</h2>
		  <label class="item item-input">		  	
		    <input type="text" placeholder="Eg: +94772225588">
		  </label>
		  <h2>Your name</h2>
		  <label class="item item-input">		  	
		    <input type="text" placeholder="Eg: Amanda Cove">
		  </label>
		  <button class="button button-block button-positive center" ng-click="sendCode()">
  			SMS Code
		</button>	
		</div>
			
	</ion-content>
</ion-pane>
