<ion-pane>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title" style="text-center">My Walking history</h1>
	</ion-header-bar>
	<ion-content>
		 <div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">
    		<h2>Leo Mueller</h2>
    		<button class="button button-energized">
  				Walking
			</button>
		  </div>
		<div class="item item-avatar">
    		<img src="img/sampleAvatar.jpg">
    		<h2>Leo Mueller</h2>
    		<button class="button button-energized">
  				Not walking
			</button>
		  </div>		
	</ion-content>
	<ion-footer-bar>
		<div class="item">
			<h2>Amy send a walkie to Dana</h2>
		</div>		
		<div class="button-bar">
		  <a class="button">Send walkies</a>
		  <a class="button">Send picture</a>		  
		</div>
	</ion-footer-bar>
</ion-pane>
