/* Empty. Add your own CSS if you like */
.button {

    width: 150px;
    height: 30px;
    background-color: #000;
    border: solid 1px #000;
    border-radius: 100px
}
.wrapper {
    text-align: center;
}

.post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
}