
@font-face {
    font-family: 'museo300';
    src: url('../font/museo300-regular-webfont.eot');
    src: url('../font/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/museo300-regular-webfont.woff2') format('woff2'),
    url('../font/museo300-regular-webfont.woff') format('woff'),
    url('../font/museo300-regular-webfont.ttf') format('truetype'),
    url('../font/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo500';
    src: url('../font/museo500-regular-webfont.eot');
    src: url('../font/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/museo500-regular-webfont.woff2') format('woff2'),
    url('../font/museo500-regular-webfont.woff') format('woff'),
    url('../font/museo500-regular-webfont.ttf') format('truetype'),
    url('../font/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('../font/museo700-regular-webfont.eot');
    src: url('../font/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/museo700-regular-webfont.woff2') format('woff2'),
    url('../font/museo700-regular-webfont.woff') format('woff'),
    url('../font/museo700-regular-webfont.ttf') format('truetype'),
    url('../font/museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body{height:100%; width: 100%;}

body{
    padding: 0;
    margin: 0;
}

::-webkit-input-placeholder {
    color:  #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color:  #fff !important;
}
:-ms-input-placeholder {
    color:  #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
    color:  #fff !important;
}

img, p, div, a, h1, h2, h3, h4, h5, h6 {padding: 0; margin: 0; outline: 0; border: 0;}
img {width:100%;}

/*--------------------Iconic Class ----------------------*/

.pane, .view {
    background:#048cd4 url("../img/bg_main.png") no-repeat left;
    background-size: contain;
}

.bar {
    border-top: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
    padding: 0;
}

ion-header-bar
{border:none !important;}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .bar {
        border: none;
        background-image: none;
      }

}

/*-------------------------------------------------------*/

.ion-pane, .ion-content {height:100% !important;}

.panel-loading {
    position: relative;
    width: 240px;
    height: 164px;
    margin-top: -82px;
    top:50%;
}

.panel-header-1 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: block;
    border:none !important;
}

.panel-header-1 > div {
    position: relative;
    width: 100px;
    height: auto;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

.panel-header-1 > div > img {
    width: 100px;
    height: auto;
}

.title-bar {
    position: relative;
    width: 87.5%;
    padding:70px 0 30px 0;
    margin: 0 6.25%;
    box-sizing: border-box;
    font-family: 'museo500';
    letter-spacing: 0;
    font-size:15px;
    text-align: center;
    color: #fff;
}

.title-bar .back{
    position: absolute;
    width: auto;
    font-size:11px;
    text-align: left;
    left: 0;
}


.panel-footer {
    position: fixed;
    width: 100%;
    height:auto;
    padding: 35px 0;
    display: block;
    background:#fff;
    bottom: 0;
}

h1
{
    font-family: 'museo300';
    display: block;
    padding: 110px 0 0 0;
    margin:0;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

h2{
    font-family: 'museo300';
    letter-spacing: 2px;
    padding: 0;
    margin: 9px 0 0 0;
    font-size:17px;
    color: white;
}

h3
{
    font-family: 'museo300';
    display: block;
    padding:0;
    margin:0;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

h6
{
    padding: 0 0 24px 0;
    margin: 0;
    border-bottom: 1px solid #61b6e4;
    width: 240px;
}

h6 > img {
    width: 200px;
    height: 110px;
}


.panel_or{
    width: 50px;
    margin: 40px auto 0 auto;
}

.or_line{
    width: 8px;
    height: 1px;
    background: #61b6e4;
    text-indent: -9999px;
    margin:0;
    float: left;
}

.form-content{
    position: relative;
    width: 240px;
    height: auto;
    left: 50%;
    margin-left: -120px;
    text-align: center;
}

.txtfield {

    width: 240px;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'museo300';
    background: transparent;
    display: block;
    text-align: center;
    color: #fff !important;
    border-bottom: 1px solid #61b6e4 !important;
}

.button-big-yellow {
    position: relative;
    font-family: 'museo300';
    display: inline-block;
    border: none;
    background: #ffd800 !important;
    color: #000 !important;
    min-width: 180px;
    padding: 0 40px;
    height: 40px;
    border-radius: 20px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}

.button-big-blue {
    position: relative;
    font-family: 'museo300';
    display: inline-block;
    border: none;
    background: #048cd4 !important;
    color: #fff !important;
    min-width: 180px;
    padding: 0 40px;
    height: 40px;
    border-radius: 20px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}


.small-txt-light
{
    font-family: 'museo300';
    display: block;
    padding: 0px 10px;
    margin:-8px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    float: left;
}

.panel-my-next-walk{
    width:100%;
    height: auto;
    padding:75px 20px 25px 20px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;

}

.panel-my-next-walk .title {
    width: 100%;
    font-family: 'museo500';
    text-align: left;
    font-size: 24px;
    padding-bottom: 8px;
    line-height: 24px;
    float: left;
}

.panel-my-next-walk > div {
    width:100%;
    height: 16px;
    display: block;
}

.panel-my-next-walk > div > label {
    width:auto;
    height: 16px;
    line-height: 16px;
    font-family: 'museo500';
    font-size: 12px;
    padding: 0;
    margin-right: 25px;
    float: left;
}

.panel-my-next-walk > div > label > h1 {
    width:88px;
    font-family: 'museo500';
    font-size: 11px;
    line-height:17px;
    height: 16px;
    text-wrap: none;
    color: #ffd800;
    text-align: left;
    padding: 0;
    float: left;
}

.icon {
    width:16px;
    height: 16px;
    margin-right: 10px;
    float: left;
}


.panel-my-next-walk > .image-list {
    width:100%;
    height:32px;
    margin-top:12px;
    float: left;
}

.panel-my-next-walk > .image-list > div {
    width:32px;
    height:32px;
    margin-right:8px;
    border-radius: 16px;
    overflow: hidden;
    display: block;
    float: left;
}

.panel-my-next-walk > .image-list > div:nth-last-child(1){
    font-family: 'museo700';
    font-size: 11px;
    color:#000;
    line-height:32px;
    text-align: center;
    background-color:#ffd800 !important;
}


.panel-invitations{
    width:100%;
    padding:30px 20px 0 20px;
    box-sizing: border-box;
    display: block;
    background: #ffd800;
    color: #000;
    float: left;
}

.panel-invitations .title {
    width: 100%;
    font-family: 'museo500';
    text-align: left;
    font-size: 17px;
    padding-bottom: 8px;
    float: left;
}

.panel-invitations > .walking-list{
    width:100%;
    font-family: 'museo500';
    font-size: 10px;
    float: left;
}

.panel-invitations > .walking-list > div {
    width:auto;
    float: left;
}

.panel-invitations > .walking-list > div:nth-child(1) {
    width:auto;
    padding: 0 12px 0 0;
    border-right:1px solid #ffe96c;
    box-sizing: border-box;
}

.panel-invitations > .walking-list > div:nth-child(2) {
    width:auto;
    padding:0 10px;
}

.panel-invitations > .walking-list > div:nth-child(3) {
    width:32px;
}

.panel-invitations > .walking-list > div > table {
    width: 104px;
    height:auto;
}

.panel-invitations > .walking-list >  div > table tr {
    width: 104px;
    height: 44px;
}

.panel-invitations > .walking-list > div > table tr:last-child {
    width: 104px;
    height: 60px;
}

.panel-invitations > .walking-list > div > table tr td.image {
    width:24px;
    height:24px;
    border-radius: 16px;
    overflow: hidden;
    display: block;
    float: left;
}

.panel-invitations > .walking-list > div > table tr td.text {
    width:72px;
    height:auto;
    display: block;
    margin-left: 8px;
    text-align: left;
    float: left;
}


.panel-invitations  h2 {
    font-family: 'museo700';
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    padding: 0;
    margin: 0;
}

.panel-invitations  h3 {
    font-family: 'museo500';
    font-size: 9px;
    color: #000000;
    text-align: left;
    padding: 0;
    margin: 3px 0 0 0;
    text-wrap: none;
}

.panel-invitations > .walking-list  .walk_number {
    position: relative;
    width:38px;
    height:38px;
    background: url("../img/icon_wall_small_black40.png") no-repeat top left;
    background-size: cover;
    float: left;
}

.panel-invitations > .walking-list  .walk_number p {
    position: absolute;
    width:18px;
    height:18px;
    font-family: 'museo500';
    border-radius: 9px;
    display: block;
    font-size: 8px;
    color: #fff;
    background:#048cd4;
    line-height: 19px;
    text-align: center;
    top:-1px; right:-4px;
}

.panel-footer-2  {
    position: fixed;
    width:100%;
    padding:30px 20px 15px 20px;
    box-sizing: border-box;
    bottom: 0;
    display: block;
    background: #fff;
}

.panel-history {
     width:100%;
     padding:0 10px;
     box-sizing: border-box;
     display: block;
     background: #ffd800;
     border-radius: 9px;
     margin-top: 20px;
     float: left;
 }

.panel-history i{
    padding: 0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    margin: 8px 2px 0 2px;
    background: #048cd4;
    float: left;
}

.panel-history div {
    font-family: 'museo500';
    color: #000;
    font-size: 10px;
    padding: 0 4px 0 8px;
    float: left;
}


.panel-history div > a{
    text-decoration: none;
    color: #000;
}

.panel-footer-walk-now{
    position: fixed;
    width: 100%;
    height: 94px;
    bottom: 0;
}

.panel-footer-walk-now .notify-bar {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    display: block;
    vertical-align: middle;
    float: left;
}

.panel-footer-walk-now .notify-bar h2 {
    font-family: 'museo500';
    font-size: 15px;
    letter-spacing: 0;
    color: #0c3b53;
    text-align: center;
    vertical-align: middle;
}

.panel-footer-walk-now .notify-bar h2 > img {
    width: 30px;
    vertical-align: middle;
}

.panel-footer-walk-now .button-bar {
    width: 100%;
    height: 44px;
    margin: 0;
    padding: 0;
    background: #ffd800;
    display: block;
    float: left;
}

.panel-footer-walk-now .button-bar > a {
    width: 50%;
    height: 44px;
    line-height: 44px;
    font-family:'museo500';
    font-size: 13px;
    color: #000;
    text-align: center;
    display: block;
    border-right:1px solid #e5c200;
    box-sizing: border-box;
    float: left;
}

.panel-footer-walk-now .button-bar > a:last-child {
    border-right:none
}

.panel-walking-list{
    width: 87.5%;
    height:44px;
    margin: 0 6.25%;
    box-sizing: border-box;
    display: block;
}

.panel-walking-list > img{
    width:32px;
    height:32px;
    border-radius: 16px;
    overflow: hidden;
    display: block;
    float: left;
}

.panel-walking-list > h2{
    width:130px;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 14px;
    letter-spacing: 0;
    text-align: left;
    text-overflow: ellipsis;
    margin: 0;
    float: left;
}

.panel-walking-list > .status {
    width:auto;
    height: 20px;
    margin: 6px 0;
    display: block;
    float: right;
}

.panel-walking-list > .status > span {
    width:16px;
    height:20px;
    margin-right:5px;
    display: block;
    float: left;
}

.panel-walking-list > .status > button{
    width:90px;
    height: 20px;
    line-height: 19px;
    border-radius: 10px;
    font-family:'museo500';
    font-size: 11px;
    color: #000;
    background: #ffd800;
    letter-spacing: 0;
    border: 0;
    outline: none;
    float: left;
}

.panel-walking-list > .status > button.black{
    color: #fff;
    background: #000;
}

.panel-join-a-walk-list{
    width: 100%;
    height:auto;
    padding:20px 6.25%;
    box-sizing: border-box;
    font-family:'museo500';
    display: block;
    float: left;
}

.panel-join-a-walk-list:nth-child(even){
    background: #fff;
}

.panel-join-a-walk-list:nth-child(odd){
    background: #ffd800;
}

.panel-join-a-walk-list .title {
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding-bottom: 6px;
    line-height: 16px;
    float: left;
}

.panel-join-a-walk-list > div {
    width:100%;
    height: 16px;
    display: block;
}

.panel-join-a-walk-list > div > label {
    width:auto;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 25px 0 0;
    float: left;
}

.panel-join-a-walk-list > div > label > h1 {
    width:auto;
    font-size: 11px;
    line-height:17px;
    height: 16px;
    text-wrap: none;
    color:#000;
    margin: 0;
    padding: 0;
    float: left;
}

.icon {
    width:16px;
    height: 16px;
    margin-right: 10px;
    float: left;
}


.panel-join-a-walk-list > .image-list {
    width:100%;
    height:32px;
    margin-top:6px;
    opacity: 0.4;
    float: left;
}

.panel-join-a-walk-list > .image-list > div {
    width:32px;
    height:32px;
    margin-right:8px;
    border-radius: 16px;
    overflow: hidden;
    display: block;
    float: left;
}

.panel-join-a-walk-list > .image-list > div:nth-last-child(1){
    font-family: 'museo700';
    font-size: 11px;
    color:#000;
    line-height:32px;
    text-align: center;
    background-color:#fff !important;
}

.panel-join-a-walk-list > .status{
    width: 100%;
    height: auto;
    margin-top: 20px;
    float: left;
}

.panel-join-a-walk-list > .status > button{
    width:60px;
    height: 20px;
    line-height: 19px;
    border-radius: 10px;
    font-family:'museo500';
    font-size: 10px;
    letter-spacing: 0;
    border: 0;
    outline: none;
    margin-right: 10px;
    float: left;
}

.panel-join-a-walk-list > .status > button:nth-child(1){
    color: #fff;
    background: #048cd4;
}
.panel-join-a-walk-list > .status > button:nth-child(2){
    color: #000;
    background: #fff;
}

.panel-join-a-walk-list > .status > button:nth-last-child(1){
    color: #fff;
    background: #000;
    margin: 0;
}


.panel-single-row-full{
    width: 100%;
    height:auto;
    display: block;
    float: left;
}

.panel-single-row{
    width: 87.5%;
    height:auto;
    padding-top: 35px;
    margin:0 6.25% 6px 6.25%;
    box-sizing: border-box;
    display: block;
    float: left;
}

.panel-history-list{
    width: 87.5%;
    height:43px;
    margin:0 6.25%;
    border-bottom:1px solid #61b6e4;
    box-sizing: border-box;
    font-family:'museo500';
    float: left;
}

.panel-history-list > label{
    width:50%;
    height: 16px;
    line-height: 43px;
    font-size: 15px;
    color: #fff;
    float: left;
}

.panel-history-list > label span{
    color: #ffd800;
}

.panel-history-list > h1{
    width:66px;
    height: 16px;
    line-height: 16px;
    background: url("../img/icon_clock_36.png") no-repeat left;
    background-size:12px;
    font-size: 10px;
    text-indent: 16px;
    margin-top: 13px;
    padding: 0 5px;
    float: left;
}

.panel-history-list > button{
    width:60px;
    height: 20px;
    line-height: 15px;
    border-radius: 10px;
    font-family:'museo500';
    font-size: 10px;
    letter-spacing: 0;
    margin-top: 11px;
    border: 0;
    outline: none;
    float: right;
}

.panel-history-list > button.created{
    color: #000;
    background: #ffd800;
}
.panel-history-list > button.joined{
    color: #000;
    background: #fff;
}

.panel-history-list > button.ns{
    color: #fff;
    background: #000;
    text-transform: uppercase;
}

.font11 {
    font-size: 11px;
    font-family:'museo500';
    color: #ffd800;
    display: block;
    text-align: left;
}

/*Basic Styles*/

.blue-bg{background:#048cd4;}
.yellow-bg{background:#ffd800;}
.black-bg{background:#000;}
.white-bg{background:#fff;}

.blue-color{color:#048cd4;}
.yellow-color{color:#ffd800;}
.black-color{color:#000;}
.white-color{color:#fff;}

.paddingTop130{padding-top: 130px;}
.paddingTop80{padding-top: 80px;}
.paddingTop50{padding-top: 50px;}
.paddingTop40{padding-top: 40px;}
.paddingTop30{padding-top: 30px;}
.paddingTop0{padding-top: 0 !important;}

.marginTop6{margin-top: 6px !important;}
.marginTop12{margin-top: 12px !important;}
.marginTop18{margin-top: 18px !important;}
.marginTop24{margin-top: 24px !important;}
.marginTop30{margin-top: 30px !important;}
.marginTop40{margin-top: 40px !important;}

.w100{width:100%;}
.w75{width:75%;}
.w50{width:50%;}
.w25{width:25%;}

.show{display: block;}
.hide{display: none;}

.center-align {text-align: center;}

.clear-fix{clear: both;}
